body {
    font-family: Helvetica, Helvetica Neue, Arial, Verdana, sans-serif;
    background: #3a175b;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #404040;
    font-size:13px;
}

.body {
    background:#f5f3e5 url(/image/front/en-us/body-bg-general.jpg) no-repeat scroll center top;
}

p {
    line-height:20px;
}

/*default links*/
a:link {
    text-decoration: none;
    color: #1e6cb4;
}

a:visited {
    text-decoration: none;
    color: #1e6cb4;
}

a:hover {
    text-decoration: underline;
    /*color: #999900;*/
}


.dark-link a:link {
    text-decoration: none;
    color: #404040;
}

.dark-link a:visited {
    text-decoration: none;
    color: #404040;
}

.dark-link a:hover {
    text-decoration: none;
    color: #404040;
}

.light-dark {
    color: #888888;
}

.light-grey {
    color: #abaaaa;
}

.pagination {
    margin-top:20px;
    float:left;
}

.hand {cursor:pointer;cursor:hand}

.underline {
    text-decoration: underline;
}

img {
    border:0;
}

.bold {
    font-weight:bold;
}

.input-box {
    height:17px;
    border:#000000 solid 1px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear {
    clear:both;
}

/*some old code still using this*/
.clear-no-float {
    clear:both;
}

.center {
    text-align: center;
}
/******************Reset******************/
.clear, .cf, .clearfix, .clear-no-float, .clearNoFloat { clear: both; }
.clear:after, 
.clearNoFloat:after,
.clear-no-float:after,
.clearfix:after,
.cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }



/*some old code still using this*/
.text-align-center {
    text-align: center;
}

.vspace5 {
    float:left;
    clear:both;
    height:5px;
    width:100%;
    padding:0;
    margin:0;
}

.vspace10 {
    float:left;
    clear:both;
    height:10px;
    width:100%;
    padding:0;
    margin:0;
}


.vspace20 {
    float:left;
    clear:both;
    height:20px;
    width:100%;
    padding:0;
    margin:0;
}

.hspace5-float-none {
    display: inline;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 5px;
}

.hspace10-float-none {
    display: inline;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 10px;
}

.hspace20-float-none {
    display: inline;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 20px;
}


.hspace5-float-left {
    display: block;
    float: left;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 5px;
}

.hspace10-float-left {
    display: block;
    float: left;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 10px;
}

.hspace20-float-left {
    display: block;
    float: left;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 20px;
}


.hspace5-float-right {
    display: block;
    float: right;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 5px;
}

.hspace10-float-right {
    display: block;
    float: right;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 10px;
}

.hspace20-float-right {
    display: block;
    float: right;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 20px;
}

