/***********************************/

/*** Header-footer v1.00 date:OCT 15,2012 ***/

/***********************************/


/* ***************** reset ********************* */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

i, cite, var, address, dfn {
	font-style: normal;
}

/****************** html5 ******************/

article,aside,dialog,footer,header,section,footer,nav,figure,menu {
	display: block;
}

body {
	font: 13px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	color: #404040;
}

ul,li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

/******************* default-links *******************/

a {
	text-decoration: none;
	color: inherit;
	-webkit-transition: color 0.5s ease,background 0.5s ease-in-out;
	-moz-transition: color 0.5s ease,background 0.5s ease-in-out;
	-o-transition: color 0.5s ease,background 0.5s ease-in-out;
	transition: color 0.5s ease,background 0.5s ease-in-out;
}

a:hover,a:focus {
	text-decoration: none;
	color: inherit;
}

/****************** reset ******************/

img,abbr,fieldset {
	border: none;
}

:focus {
	outline: 0;
}

strong {
	font-weight: bold;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after {
	content: '';
}

small,big {
	font-size: 1em;
}

sup {
	font-size: 1em;
	vertical-align: top;
}

p {
	line-height: 20px;
}

/******************* Tools *******************/

.hidden {
	display: block !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}

.nobr,
.nowrap {
	white-space: nowrap !important;
}

.wrap {
	white-space: normal !important;
}

.a-left {
	text-align: left !important;
}

.a-center {
	text-align: center !important;
}

.a-right {
	text-align: right !important;
}

.v-top {
	vertical-align: top;
}

.v-middle {
	vertical-align: middle;
}

.f-left,
.float-left,
.left {
	float: left !important;
}

.f-right,
.float-right,
.right {
	float: right !important;
}

.f-none {
	float: none !important;
}

.f-fix {
	float: left;
	width: 100%;
}

.no-display {
	display: none;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-bg {
	background: none !important;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

/****************************** clear ****************************************/

.hide {
	display: none
}

.hand {
	cursor: pointer;
	cursor: hand
}

.text-align-center {
	text-align: center;
}

.real-height {
	height: 100%;
	overflow: hidden;
}

.clear,.cf,.clearfix {
	clear: both;
}

.clear:after,.clear-no-float:after,.cf:after,.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.box-siz {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background: #8e7846;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background: #8e7846;
	color: white;
	text-shadow: none;
}

/******************* font *******************/

.black {
	color: black;
}

.white {
	color: white;
}

.color-ffc {
	color: #ffc;
}

.color-ccc {
	color: #ccc;
}

.color-630 {
	color: #630;
}

.color-666 {
	color: #666;
}

.color-999 {
	color: #999;
}

.yellow-light {
	color: #f6e5b1;
}

.yellow-light2 {
	color: #e4dc9f;
}

.purple {
	color: #361d59;
}

.color-brown {
	color: #4c330c;
}

.light-grey {
	color: #abaaaa;
}

.font18px {
	font-size: 18px;
}

.font17px {
	font-size: 17px;
}

.font16px {
	font-size: 16px;
}

.font15px {
	font-size: 15px;
}

.font14px {
	font-size: 14px;
}

.font13px {
	font-size: 13px;
}

.font12px {
	font-size: 12px;
}

.font11px {
	font-size: 11px;
}

.font10px {
	font-size: 10px;
}

.font9px {
	font-size: 9px;
}

.bold {
	font-weight: bold;
}

.sans {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.open-sans {
	font-family: 'Open Sans Condensed', sans-serif;
}

.georgia {
	font-family: Georgia,"Times New Roman",Times,serif;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

/****************** text-replacement **********************/

.text-replace {
	display: block;
	overflow: hidden;
	text-indent: -1000em;
	background-repeat: no-repeat;
}

/****************** css3 effect **********************/

.radius5 {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius3 {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.radius3-left {
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}

.column {
	float: left;
}

.emboss {
	color: white;
	text-shadow: 0px -1px .75px #000;
}

.emboss-fff {
	text-shadow: 0px 1px 0px #fff;
}

.shadow-c1 {
	-webkit-border-radius: 100% / 12px;
	-moz-border-radius: 100% / 12px;
	border-radius: 100% / 12px;
	-webkit-box-shadow: rgba(163,141,81,.80) 0 3px 5px;
	-moz-box-shadow: rgba(163,141,81,.80) 0 3px 5px;
	box-shadow: rgba(163,141,81,.80) 0 3px 5px;
}

.shadow-c2 {
	-webkit-border-radius: 100% / 12px;
	-moz-border-radius: 100% / 12px;
	border-radius: 100% / 12px;
	-webkit-box-shadow: rgba(0,0,0,.30) 0 4px 5px;
	-moz-box-shadow: rgba(0,0,0,.30) 0 4px 5px;
	box-shadow: rgba(0,0,0,.30) 0 4px 5px;
}

.btn-brown,
a.btn-brown {
	background: #977941;
	color: white;
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	-ms-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
	text-align: center;
}

.btn-brown:hover,
a:hover.btn-brown {
	color: white;
	background: #7d5916;
}

.small-btn {
	padding: 3px 9px;
	text-align: center;
}

.mid-btn {
	padding: 9px 19px;
	text-align: center;
}

.mid-btn-1 {
	padding: 17px 19px 1px;
}

/*************************************************/
/****************** header **********************/

.index-header {
	width: 100%;
	min-width: 1000px;
}

.index-header-top {
	width: 100%;
	clear: both;
	min-width: 1000px;
	background:#c69e50;

}

.index-header-top .wrapper {
	width: 1000px;
	margin: 0 auto;
	background: url(/theme/shenyun/image/index-header-bg.jpg) no-repeat;
	min-height: 59px;
}

.index-header-top .wrapper .logo {
	width: 368px;
	height: 40px;
	background: url(/theme/shenyun/image/index-header-top-logo.png) no-repeat 0 10px;
	padding: 10px 0 9px;
	margin: 0 0 0 307px;
}

/****************** right-wrapper **********************/

.index-header-top .wrapper .right-wrapper {
	padding: 0;
}

.index-header-top .wrapper .right-wrapper .search-box {	
}

.index-header-top .wrapper .right-wrapper .language-box {
	width: 85px;
	height: 25px;
	background: rgba(244, 233, 187, .25);
	background: #f4e9bb\9;
	*background: #f4e9bb;
	margin-left: 2px;
}

/****************** search **********************/

.index-header-top .wrapper .right-wrapper .search-box #search {
	position: relative;
}

.index-header-top .wrapper .right-wrapper .search-box #search #searchin {
	z-index: 1;
	position: relative;
}

.index-header-top .wrapper .right-wrapper .search-box #search input[type="text"] {
	border: none;
	font: bold 13px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	width: 0;
	height: 13px;
	padding: 6px 0 6px 28px;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	background: rgba(244, 233, 187, .25);
	background: transparent\9;
	*background: #f4e9bb;
	cursor: pointer;
	cursor: hand;
}

.index-header-top .wrapper .right-wrapper .search-box #search input[type="text"]:focus {
	width: 134px;
}

@-webkit-keyframes plugin {
	0% {
-webkit-transform: translate(0, 0)
}

100% {
	-webkit-transform: translate(-134px, 0)
}

}

@-moz-keyframes plugin {
	0% {
-moz-transform: translate(0, 0)
}

100% {
	-moz-transform: translate(-134px, 0)
}

}

.index-header-top .wrapper .right-wrapper .search-box  #search .search-icon {
	background: url(/theme/shenyun/image/index-sprite.png) no-repeat 0 0;
	width: 16px;
	height: 14px;
	border: none;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 0;
	opacity: 1
}

.index-header-top .wrapper .right-wrapper .search-box  #search .search-icon.open {
	-webkit-animation: plugin 0.3s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: plugin 0.3s ease-in-out;
	-moz-animation-fill-mode: forwards !important;
}

/****************** languge-box **********************/

#language li {
	list-style: none;
	float: left;
	font-size: 11px;
}

#language li>a {
	font-weight: 400!important;
	display: block;
	padding: 8px 5px 5px 13px;
	text-decoration: none;
	color: #69522e;
	line-height: 10px;
	height: 12px;
	position: relative;
}

#language li:hover>a,
#language li.hover>a {
	text-decoration: none;
	*/z-index: 100;
	position: relative;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

#language li ol {
	display: none;
	width: 170px;
}

#language li:hover ol,
#language li.hover ol {
	display: block;
	position: absolute;
	z-index: 90;
	margin: 0;
	padding: 0;
	border: 1px #cac8b0 solid;
	background: rgba(225,224,204,0.91);
	*background: #e1e0cc;
	background: #e1e0cc\9;
}

#language li dl {
	
}

#language li:hover dl,
#language li.hover dl {
	border-bottom: 1px solid #cac8b0;
	float: none;
}

#language li:hover dl a,
#language li.hover dl a {
	display: block;
	padding: 10px 0 7px 13px;
	color: #867055;
}

#language li dl:hover,
#language li dl.hover {
	background: #e9e4ce;
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	-o-transition: background .25s ease-out;
	-ms-transition: background .25s ease-out;
	transition: background .25s ease-out;
}

#language li dl:last-child {
	border-bottom: none;
}

#language .arrow {
	width: 7px;
	height: 4px;
	background: url(/theme/shenyun/image/index-sprite.png) 0 -15px;
	margin: 3px 0 0 5px;
}

/********Ticket Finder Version**************/

#menu-select-city-purple {
	width: 212px;
	float: left;
}

#menu-select-city-purple-dropdown {
	background: rgba(82,41,122,0.95);
	*background: #52297a;
	background: #52297a\9;
	filter: alpha(opacity=95);
	margin: 0;
	top: 32px;
	left: 10px;
	width: 985px;
	height: 442px;
	float: left;
	display: inline;
	position: absolute;
	z-index: 100;
}

#menu-select-city-purple-dropdown .content {
	padding: 23px 38px 0 22px;
	text-align: left;
	height: 100%;
	overflow: hidden;
}

#scrollable-city-list-purple {
	width: 690px;
	float: left;
}

#scrollable-city-list-purple .viewport {
	width: 595px;
	height: 347px;
	overflow: hidden;
	position: relative;
	margin: 0 81px 0 0;
}

#scrollable-city-list-purple .grid3col-wrapper {
	padding: 12px 0 0;
	position: relative;
	margin: 0 0 0 41px;
	width: 554px;
	overflow: hidden;
	height: 100%;
}

#scrollable-city-list-purple .grid3col-wrapper .column {
	float: left;
	width: 163px;
	margin: 0 32px 0 0;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap span {
	padding: 0 8px 6px;
	display: block;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap li {
	border-top: 1px #724998 solid;
	border-bottom: 1px #57307b solid;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap a {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	color: white;
	padding: 11px 8px 7px;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap a:link {
	text-decoration: none;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap a:hover,
#scrollable-city-list-purple .grid3col-wrapper .list-wrap a:active {
	background: rgba(255,255,255,0.1);
}

#scrollable-city-list-purple .overview {
	position: absolute;
	left: 0;
	top: 0;
	padding: 16px 0 0;
	margin: 0;
	width: 600px;
}

#scrollable-city-list-purple .scrollbar {
	background: #784f9d\9;
	*background: #784f9d;
	filter: alpha(opacity=60);
	background: rgba(120,79,157,0.6);
	position: relative;
	float: right;
	width: 13px;
}

#scrollable-city-list-purple .track {
	height: 100%;
	width: 13px;
	position: relative;
	padding: 0;
	cursor: pointer;
	background: url(/theme/shenyun/image/transBG.gif)\9;
}

#scrollable-city-list-purple .thumb {
	background: #9f7fbd\9;
	*background: #9f7fbd;
	filter: alpha(opacity=60);
	cursor: pointer;
	cursor: hand;
	background: rgba(159,127,189,0.6);
	height: 20px;
	width: 13px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#scrollable-city-list-purple .thumb .end {
	background: url(/theme/shenyun/image/transBG.gif)\9;
	overflow: hidden\9;
	height: 5px\9;
	width: 25px\9;
}

#scrollable-city-list-purple .disable {
	display: none;
}

#scrollable-city-list-purple .overview .title {
	color: #f8e9b0;
	font-size: 14px;
	font-weight: bold;
}

#scrollable-city-list-purple a.item:link {
	color: #999999;
	font-size: 11px;
	text-decoration: none;
}

#scrollable-city-list-purple a.item:visited {
	color: #999999;
	font-size: 11px;
	text-decoration: none;
}

#scrollable-city-list-purple a.item:hover {
	color: #999999;
	font-size: 11px;
	text-decoration: none;
}

#scrollable-city-list-purple a.item:active {
	color: #999999;
	font-size: 11px;
	text-decoration: none;
}

/* *****************ticket finder********************* */

#menu-select-city-purple .shadowTop {
	background: url(/theme/shenyun/image/dropTopBlur.png) no-repeat  50% 0;
}

#menu-select-city-purple .tix-finder {
	width: 120px;
	height: 13px;
	padding: 8px 0 10px 21px;
	color: #f6e5b1;
	font-family: 'open_sansregular', sans-serif;
	line-height: 13px;
}

#menu-select-city-purple .tix-finder .finder-arrow {
	width: 11px;
	height: 5px;
	background: url(/theme/shenyun/image/index-sprite.png) no-repeat 0 -20px;
	float: right;
	margin: 4px 0 0 6px;
}

#menu-select-city-purple .tix-map {
	background: url(/theme/shenyun/image/index-sprite.png) no-repeat 0 -26px;
	width: 49px;
	height: 19px;
	margin: 4px 13px 0 0;
}

#menu-select-city-purple .tix-map:hover {
	opacity: .6;
}

#menu-select-city-purple .dropTitleWrap {
	width: 831px;
	border-bottom: 1px #7f59a3 solid;
}

#menu-select-city-purple .dropTitleA {
	font-size: 22px;
	font-weight: normal;
	padding: 0 0 13px 3px;
	border-bottom: 1px #5d3882 solid;
}

#menu-select-city-purple-dropdown .left-figure {
	float: left;
	width: 235px;
	padding: 12px 0 0;
}

#menu-select-city-purple-dropdown .left-figure .laber {
	display: block;
	line-height: 20px;
	background: #31153d;
	margin: 0 0 1px;
	color: #c6a1dd;
}

#menu-select-city-purple-dropdown .left-figure .laber em {
	padding: 0 0 0 7px;
}

#menu-select-city-purple-dropdown .left-figure .imgWrap {
	width: 235px;
	height: 126px;
	overflow: hidden;
	display: block;
	padding: 0 0 15px;
}

#menu-select-city-purple-dropdown .left-figure .imgWrap img {
	width: 235px;
}

#menu-select-city-purple-dropdown .left-figure .hot-city dd {
	display: block;
	padding: 0 0 14px;
}

#menu-select-city-purple-dropdown .left-figure .hot-city a {
	font: 15px 'Helvetica Neue',Helvetica, Arial,Verdana, sans-serif;
}

#menu-select-city-purple-dropdown .left-figure .hot-city a:link,
#menu-select-city-purple-dropdown .left-figure .hot-city a:visited {
	color: #f8e9b0;
}

#menu-select-city-purple-dropdown .left-figure .hot-city a:hover,
#menu-select-city-purple-dropdown .left-figure .hot-city a:active {
	color: #f8e9b0;
}

.finderFoot {
	width: 985px;
	margin: 0 -38px 0 -22px;
	height: 38px;
	background: #5a337f;
}

.finderFoot .wrap {
	margin: 0 38px 0 22px;
	padding: 10px 0 18px;
	border-top: 1px #774e98 solid;
	color: #c0b6cc;
}

.finderFoot .laber {
	float: left;
	font-size: 11px;
	line-height: 17px;
	font-weight: bold;
	padding: 0 0 0 6px;
}

.finderFoot .wrap a.otherLink {
	font-size: 11px;
	color: #c0b6cc;
	padding: 0 7px;
	display: inline-block;
}

.finderFoot .wrap a.otherLink span {
	color: #c0b6cc;
}

.finderFoot .wrap a.otherLink:hover span {
	color: #c0b6cc;
	text-decoration: underline;
}

.index-header-bottom {
	width: 100%;
	clear: both;
	min-width: 1000px;
	background: #351e59;
}

.index-header-bottom .nav-wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: url(/theme/shenyun/image/index-header-nav-bg.jpg) no-repeat 0 0;
	height: 32px;
}

/****************** End Ticket Finder **********************/

/****************** top-nav-clean-menu-purple **********************/

#top-nav-clean-menu-purple {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 105px;
	width: 480px;
	height: 32px;
	text-align: center;
}

#top-right-misc {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
	width: 190px;
	height: 90px;
	position: relative;
}

#top-nav-clean-menu-purple > li > a {
	display: block;
	float: left;
	outline: none;
	font-size: 14px;
	font-family: 'open_sansregular', sans-serif;
	color: white;
}

#top-nav-clean-menu-purple .levl-1 {
	padding: 9px 32px 0 0;
	line-height: 13px;
	text-shadow: 0px -1px .75px #000;
	text-shadow: none\9;
	*text-shadow: none;
}

#top-nav-clean-menu-purple .levl-1:hover {
	color: #f6e5b1;
}

#top-nav-clean-menu-purple .tickets {
	float: left;
	margin-left: 0;
	width: 51px;
	height: 30px;
	background: url(/image/front/en-us/menu-tickets.png) no-repeat;
}

#top-nav-clean-menu-purple .about-us {
	width: 65px;
	height: 30px;
	background: url(/image/front/en-us/menu-about-us.png) no-repeat;
}

#top-nav-clean-menu-purple .learn {
	width: 40px;
	height: 30px;
	background: url(/image/front/en-us/menu-learn.png) no-repeat;
}

#top-nav-clean-menu-purple .videos {
	width: 46px;
	height: 30px;
	background: url(/image/front/en-us/menu-videos.png) no-repeat;
}

#top-nav-clean-menu-purple .news {
	width: 37px;
	height: 30px;
	background: url(/image/front/en-us/menu-news.png) no-repeat;
}

#top-nav-clean-menu-purple .support-us {
	width: 75px;
	height: 30px;
	background: url(/image/front/en-us/menu-support-us.png) no-repeat;
}

#top-nav-clean-menu-purple .shop {
	width: 34px;
	height: 30px;
	background: url(/image/front/en-us/menu-shop.png) no-repeat;
}

#top-nav-clean-menu-purple .mnews {
	width: 62px;
	height: 30px;
	background: url(/image/front/en-us/menu-support.png) no-repeat;
}

#top-nav-clean-menu-purple .mupcomingshows {
	width: 62px;
	height: 30px;
	background: url(/image/front/en-us/menu-support.png) no-repeat;
}

#top-nav-clean-menu-purple a:hover, 
#top-nav-clean-menu-purple .active {
	background-position: left bottom;
}

#top-nav-clean-menu-purple li {
	display: inline;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper {
	padding: 0;
	white-space: nowrap;
}

#top-nav-clean-menu-purple .dropdown-wrapper {
*display: none; display: none\9;
	opacity: 0;
}

#top-nav-clean-menu-purple li.hovering .dropdown-wrapper {
*display: block; display: block\9;
	opacity: 1;
	z-index: 999;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper {
	position: absolute;
	margin-top: 32px;
	padding: 0;
	font-family: Helvetica Neue, Helvetica;
	font-size: 12px;
	text-align: left;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper a {
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
	text-indent: 0;
	float: none;
	display: inline;
}

#top-nav-clean-menu-purple .dropdown-wrapper p {
	margin: 3px 0 5px 18px;
	padding: 0;
	float: left;
	clear: both;
	color: #e8e2ee;
	line-height: 14px;
}

#top-nav-clean-menu-purple .dropdown-wrapper p.category {
	font-size: 13px;
	font-weight: bold;
	color: #e8e2ee;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper a:link,
#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper a:visited,
#top-nav-clean-menu-purple .dropdown-wrapper p a:link,
#top-nav-clean-menu-purple .dropdown-wrapper p a:visited {
	color: #e8e2ee;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper a:hover,
#top-nav-clean-menu-purple .dropdown-wrapper p a:hover {
	color: #ffffff;
	text-decoration: none;
}

#top-nav-clean-menu-purple .dropdown-wrapper p.secondLevel {
	margin: 2px 0 2px 33px;
}

#top-nav-clean-menu-purple .dropdown-wrapper p img {
	margin-left: 5px;
}

#dropdown-tickets-purple {
	background: url(/image/front/menu-dropdown-bg-tours-and-tickets.png) repeat center bottom;
	width: 110px;
	margin-left: -19px;
}

#dropdown-about-us-purple {
	background: url(/image/front/menu-dropdown-bg-about-us.png) repeat-x top left;
	width: 208px;
	margin-left: -19px;
}

#dropdown-news-purple {
	background: url(/image/front/menu-dropdown-bg-news.png) repeat-x top left;
	width: 112px;
	margin-left: 250px;
}

#dropdown-learn-purple {
	background: url(/image/front/en-us/menu-dropdown-bg-learn.png) repeat-x top left;
	width: 306px;
	margin-left: -19px;
}

/****************** end top-nav-clean-menu-purple **********************/

.index-header-bottom .nav-wrapper .menu-right {
	
}

.index-header-bottom .nav-wrapper .menu-right a {
	float: left;
	color: #f6e5b1;
	font-family: 'open_sansregular', sans-serif;
	padding: 6px 0 0 21px;
	text-shadow: 0px -1px .75px #000;
}

.index-header-bottom .nav-wrapper .menu-right a:hover {
	color: white;
}


/*************************************************/
/******************* footer-container *******************/

.footer-container {
	width: 100%;
	clear: both;
	min-height: 287px;
	background: #c19a4d url(/theme/shenyun/image/index-footer-bg-2.jpg) repeat-y 50% 0;
}

.footer-container .footer-top {
	width: 100%;
	clear: both;	
	background: url(/theme/shenyun/image/index-footer-bg.png) no-repeat 50% 0;
	height: 100%;
	overflow: hidden;
}

.footer-container .footer-top .wrapper {
	width: 922px;
	margin: 0 auto;
	padding: 21px 0;
}

.footer-container .footer-top .wrapper .column {
	padding-right: 42px;
}

.footer-container .footer-top .wrapper .column h3 a {
	color: #473821;
	text-shadow: 0px 1px 0px #fff;
}

.footer-container .footer-top .wrapper .column .listing {
	padding: 8px 0 30px;
}

.footer-container .footer-top .wrapper .column .listing li {
	line-height: 20px;
}

.footer-container .footer-top .wrapper .column .listing a {
	color: #373737;
}

.footer-container .footer-top .wrapper .other-link {
	width: 229px;
	padding-top: 4px;
}

.footer-container .footer-top .wrapper .other-link .tixfinder {
	padding: 8px 16px 7px;
	background: rgb(249,245,220);
	background: -moz-linear-gradient(top,  rgba(249,245,220,1) 0%, rgba(248,243,215,1) 14%, rgba(241,226,151,1) 82%, rgba(240,226,148,1) 96%, rgba(240,226,135,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,245,220,1)), color-stop(14%,rgba(248,243,215,1)), color-stop(82%,rgba(241,226,151,1)), color-stop(96%,rgba(240,226,148,1)), color-stop(100%,rgba(240,226,135,1)));
	background: -webkit-linear-gradient(top,  rgba(249,245,220,1) 0%,rgba(248,243,215,1) 14%,rgba(241,226,151,1) 82%,rgba(240,226,148,1) 96%,rgba(240,226,135,1) 100%);
	background: -o-linear-gradient(top,  rgba(249,245,220,1) 0%,rgba(248,243,215,1) 14%,rgba(241,226,151,1) 82%,rgba(240,226,148,1) 96%,rgba(240,226,135,1) 100%);
	background: -ms-linear-gradient(top,  rgba(249,245,220,1) 0%,rgba(248,243,215,1) 14%,rgba(241,226,151,1) 82%,rgba(240,226,148,1) 96%,rgba(240,226,135,1) 100%);
	background: linear-gradient(to bottom,  rgba(249,245,220,1) 0%,rgba(248,243,215,1) 14%,rgba(241,226,151,1) 82%,rgba(240,226,148,1) 96%,rgba(240,226,135,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5dc', endColorstr='#f0e287',GradientType=0 );
	color: #473821;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
	border: 1px solid #dfcf6c;
}

.footer-container .footer-top .wrapper .other-link .other-listing {
	padding: 20px 0 0 17px;
}

.footer-container .footer-top .wrapper .other-link .other-listing li {
	line-height: 28px;
}

.footer-container .footer-top .wrapper .other-link .other-listing a {
	color: #473821;
	text-shadow: 0px 1px 0px #fff;
}
.footer-container .footer-top .wrapper .column h3 a:hover,
.footer-container .footer-top .wrapper .other-link .other-listing a:hover{color: #854b01;}
.footer-container .footer-top .wrapper .other-link .other-listing-down {
	padding: 10px 0 0 17px;
}

.footer-container .footer-top .wrapper .other-link .other-listing-down li {
	line-height: 20px;
}

.footer-container .footer-top .wrapper .other-link .other-listing-down a {
	color: #42341b;
}

.footer-container .footer-bottom {
	background: url(/theme/shenyun/image/index-footer-line.png) no-repeat 50% 0;
	width: 100%;
	clear: both;
	min-height: 72px;
}

.footer-container .footer-bottom .wrapper {
	width: 922px;
	margin: 0 auto;
}

.footer-container .footer-bottom .index-footer-sm-box {
	min-height: 32px;
	padding: 16px 69px 0 0;
}

.footer-container .footer-bottom .index-footer-sm-box .sm-icon {
	width: 32px;
	height: 32px;
	background: url(/theme/shenyun/image/index-footer-sm-sprite.png) no-repeat;
	float: left;
	margin: 0 0 0 6px;
}

.footer-container .footer-bottom .index-footer-sm-box .sm-icon.facebook {
	background-position: 0 0;
}

.footer-container .footer-bottom .index-footer-sm-box .sm-icon.twitter {
	background-position: -37px 0;
}

.footer-container .footer-bottom .index-footer-sm-box .sm-icon.youtube {
	background-position: -73px 0;
}

.footer-container .footer-bottom .index-footer-sm-box .sm-icon.googleplus {
	background-position: -109px 0;
}

.footer-container .footer-bar {
	width: 100%;
	clear: both;
	background: #73582a;
	border-top: 1px #967a40 solid;
	padding: 18px 0 17px;
	min-width: 1000px;
	font-size: 12px;
}

.footer-container .footer-bar .wrapper {
	width: 922px;
	margin: 0 auto;
	line-height: 20px;
}

.footer-container .footer-bar .wrapper .copyright {
	color: #d4cfbb;
	padding: 0 22px 0 147px;
}

.footer-container .footer-bar .wrapper .info-link {
	
}

.footer-container .footer-bar .wrapper .info-link li {
	float: left;
}

.footer-container .footer-bar .wrapper .info-link a {
	color: #d4cfbb;
	display: block;
	float: left;
	padding: 0 11px 0 7px;
	background: url(/theme/shenyun/image/index-footer-bar-dot.png) no-repeat 100% 50%;
}

.footer-container .footer-bar .wrapper .info-link a:hover {
	color: white;
}

.footer-container .footer-bar .wrapper .info-link li:last-child a {
	background: none;
}